
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--secondaryBg);
}

.title {
  color: var(--darkPrimary);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}
