.targetDirectories {
  border-top: 1px solid var(--divider);
  border-left: 1px solid var(--divider);
  border-right: 1px solid var(--divider);
}

.empty {
  display: flex;
  width: 100%;
  padding: 30px;
  align-items: center;
  justify-content: center;
  color: var(--secondaryText);
}
