* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --error: #E83E29;

  --darkPrimary: #303f9f;
  --lightPrimary: #c5cae9;
  --primary: #3f51b5;

  --text: #FFFFFF;
  --primaryText: #212121;
  --secondaryText: #757575;
  --accent: #4caf50;
  --accentLight: rgba(76, 175, 79, 0.369);
  --divider: #BDBDBD;
}
