* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --error: #E83E29;

  --darkPrimary: #3DC7BE;
  --lightPrimary: #F2FBFA;
  --primary: #3f51b5;

  --text: #FFFFFF;
  --primaryText: #212121;
  --secondaryText: #6F6F6F;
  --accent: #4caf50;
  --accentLight: rgba(76, 175, 79, 0.369);
  --divider: #E6E6E6;

  --primaryBg: #EEEEEE;
  --secondaryBg: #ffffff;
}
