# Ignore Play! working directory #
bin/
tmp/
/db
/lib/
/logs/
/modules
/project/target
/project/project
/target
test-result
*.eml
/dist/
.cache
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

node_modules
public/main.js
public/main.css
public/**/*.map
