@(errors: String)

@import play.twirl.api.HtmlFormat

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cumulus</title>
        <link rel="stylesheet" media="screen" href="assets/parametres.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
          window.cumulusErrors = HtmlFormat.row(errors)
            /*
            $(document).ready(() => {
                const reload = $('#reload')
                const stop   = $('#stop')

                reload.click(() => {
                    reload.attr('disabled', 'disabled')
                    reload.attr('value', 'Server reloading...')

                    fetch('/api/admin/management/reload', {
                        method: 'GET'
                    }).then((response) => {
                        setTimeout(() => {
                            location.reload();
                        }, 8000)
                    })
                })

                stop.click(() => {
                    stop.attr('disabled', 'disabled')
                    stop.attr('value', 'Server stopping...')

                    fetch('/api/admin/management/stop', {
                        method: 'GET'
                    }).then((response) => {
                        setTimeout(() => {
                            alert("Server stopped")
                            location.reload();
                        }, 8000)
                    })
                })
            })
            */
    </script>
    </head>
    <body>
        <div id="app">
            <!-- <div class="left-panel">
                <div class="title">Cumulus</div>
            </div>
            <div class="main-container">
                <div class="right-panel">
                    <input type="button" value="Reload the server" class="button" id="reload" >
                    <input type="button" value="Stop the server" class="button" id="stop" >
                    <input type="button" value="Update the configuration" disabled class="button" >
                </div>
            </div> -->
        </div>
        <script src="/messages.js"></script>
        <script src="assets/parametres.js"></script>
    </body>
</html>
