
.inputContainer {
  display: flex;
  flex-direction: column;

  padding: 10px 0;
}

.input {
  padding: 5px 0;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--secondary);
  outline: none;
}

.input:focus {
  border-color: var(--accent);
}

.label {
  color: var(--secondary);
}

.error {
  margin-top: 3px;
  font-size: .9rem;
  color: var(--red);
}
