
.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  padding-top: 10px;
  padding-bottom: 17px;
}

.input {
  padding: 5px 0;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--darkPrimary);
  outline: none;
}

.input:focus {
  border-color: var(--accent);
}

.label {
  color: var(--darkPrimary);
}

.error {
  margin-top: 3px;
  font-size: .9rem;
  color: var(--error);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
