.targetDirectory {
  padding: 12px 20px;
  background-color: var(--lightPrimary);
  border-bottom: 1px solid var(--divider);
  cursor: pointer;
}

.targetDirectory:hover {
  opacity: 0.7;
}

.label {
  font-size: 0.9rem;
  color: var(--primaryText);
}
