.inAppNotif {
  position: fixed;
  width: 400px;
  top: 40px;
  color: var(--text);
  padding: 15px 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  cursor: pointer;
}

.error {
  background-color: var(--error);
}
