.breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 9px;
}

.breadcrumbItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumbTitle {
  color: var(--secondaryText);
  font-size: 1.3rem;
  padding: 5px;
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.enabled {
  cursor: pointer;
}

.enabled:hover {
  opacity: .7;
}

.active {
  color: var(--darkPrimary);
}

.active:hover {
  opacity: .7;
}
