
.signupForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}

.action {
  padding-top: 20px;
}

.formError {
  height: 20px;
  margin-top: 10px;
  font-size: .9rem;
  color: var(--error);
}

@media screen and (min-width: 400px) {
  .signupForm {
    width: 400px;
  }
}
