
.authPage {
  display: flex;
  min-height: 100vh;
}

.authContainer {
  width: 100%;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondaryBg);
}

@media screen and (min-width: 480px) {
  .authPage {
    background-image: url("./bg.jpg");
    background-size: cover;
  }

  .authContainer {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 480px;
    background-color: var(--secondaryBg);
  }
}

.title {
  width: 100%;
  color: var(--darkPrimary);
  font-size: 3rem;
}

.baseline {
  width: 100%;
  color: var(--darkPrimary);
  font-size: 1.5rem;

  margin-bottom: 80px;
}

