
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkPrimary);
  border-radius: 2px;
  padding: 15px 30px;
  cursor: pointer;
  min-height: 40px;
}

.button:hover {
  background-color: var(--primary);
}

.label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text);
  cursor: pointer;
}
