
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkPrimary);
  border-radius: 6px;
  cursor: pointer;
  min-height: 32px;
  min-width: 170px;
}

.button:hover {
  background-color: var(--primary);
}

.large {
  min-height: 50px;
}

.label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text);
  cursor: pointer;
}
