
.button {
  background-color: var(--darkPrimary);
  border-radius: 2px;
  padding: 15px 30px;
  cursor: pointer;
  min-height: 40px;
  min-width: 170px;
}

.button:hover {
  background-color: var(--primary);
}

.large {
  min-height: 50px;
}

.label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text);
  cursor: pointer;
}
