
.flatButton {
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 16px;
  min-width: 88px;
  font-size: 0.875rem;
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 2px;
  text-transform: uppercase;

  cursor: pointer;
  display: inline-flex;
  outline: none;

  align-items: center;
  justify-content: center;

  background-color: transparent;
}

.flatButton:hover {
  background-color: var(--lightPrimary);
}

