.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: transparent;
  cursor: not-allowed;
}

.iconButtonHover {
  cursor: pointer;
}

.iconButtonHover:hover {
  opacity: 0.7;
}
