
.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 5px 20px;
  cursor: pointer;
}

.linkButton:hover {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.07);
}

.link {
  color: var(--primary);
  font-size: 1rem;
  text-decoration: none;
}
