.fsNodeName {
  color: var(--primaryText);
  font-size: 1rem;
}

.rename {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  color: var(--primaryText);
  font-size: 1rem;
  padding: 3px;
  border: 1px solid var(--divider);
  border-radius: 3px;
}
