.uploader {
  position: relative;
  padding: 8px 25px;
  border: 1px solid var(--darkPrimary);
  border-radius: 3px;
  background: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
}

.input {
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.label {
  color: var(--darkPrimary);
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  cursor: pointer;
}
