.uploadFile {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--secondaryBg);
  border-bottom: 1px solid var(--divider);
}

.infos {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  flex: 1;
  color: var(--primaryText);
  font-size: 1rem;
  overflow: auto;
  overflow-wrap: break-word;
}


.parametres {
  flex-direction: row;
  display: flex;
  margin-left: 10px;
}

.size {
  align-items: center;
  display: flex;
  width: 80px;
  margin-right: 10px;
  color: var(--primaryText);
  font-size: .8rem;
  justify-content: right;
}

.parametre {
  align-items: center;
  display: flex;
  margin-right: 10px;
}
