.uploadFile {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px 20px;
  background-color: var(--secondaryBg);
  border-bottom: 1px solid var(--divider);
}

.infos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.error {
  color: var(--error);
  font-size: .7rem;
}

.name {
  flex: 1;
  color: var(--primaryText);
  font-size: .9rem;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.parametres {
  flex-direction: row;
  display: flex;
  margin-left: 10px;
}

.size {
  align-items: center;
  display: flex;
  width: 80px;
  margin-right: 10px;
  margin-left: 15px;
  color: var(--primaryText);
  font-size: .8rem;
  justify-content: right;
}

.parametre {
  align-items: center;
  display: flex;
  margin-left: 10px;
}
