
.uploadFile {
  width: 100%;
  display: inline-flex;
  padding: 10px;
  align-items: center;

  border-radius: 2px;
  border: 1px solid var(--divider);
}

.infos {
  padding: 0 10px;
  min-height: 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  overflow-wrap: break-word;
}

.name {
  color: var(--primaryText);
}
