
.appBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: var(--secondaryBg);
  padding-left: 65px;
  border-bottom: 1px solid var(--divider);
}

.actions {
  margin-right: 10px;
}
