.fsNodeInfo {
  width: 300px;
  min-height: 100vh;
  background-color: var(--secondaryBg);
  box-shadow: -3px 0 15px 0 rgba(0,0,0,0.07);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.title {
  color: var(--secondaryText);
  font-size: 1.5rem;
}

.name {
  color: var(--primaryText);
  font-size: 1.5rem;
  margin: 16px 24px 15px 24px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.infos {
  padding: 24px;
}

.info {
  margin: 10px 0;
}

.preview {
  width: 100%;
}
