.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-label {
  flex: 1;
  color: #B2B2B2;
  padding-bottom: 4px;
  padding-left: 10px;
}

.input {
  outline: none;
  flex: 1;
  background-color: rgba(255, 255, 255, .1);
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: #FFFFFF;
}

.input-label-error {
  color: red;
}

.input-error {
  background-color: rgba(255, 0, 0, .2)
}

