/* http://meyerweb.com/eric/tools/css/reset/
   v3.0 | 20180413
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: normal;
}

:root {
  --error: #E83E29;

  --darkPrimary: #3DC7BE;
  --lightPrimary: #F2FBFA;
  --primary: #3f51b5;

  --text: #FFFFFF;
  --primaryText: #212121;
  --secondaryText: #6F6F6F;
  --accent: #4caf50;
  --accentLight: rgba(76, 175, 79, 0.369);
  --divider: #E6E6E6;

  --primaryBg: #EEEEEE;
  --secondaryBg: #ffffff;
}

._loginForm_1rvtz_2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._action_1rvtz_8 {
  padding-top: 20px;
}

._formError_1rvtz_12 {
  height: 20px;
  margin-top: 10px;
  font-size: .9rem;
  color: var(--error);
}
._inputContainer_7606i_1 {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  padding-top: 10px;
  padding-bottom: 17px;
}

._input_7606i_1 {
  padding: 5px 0;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--darkPrimary);
  outline: none;
}

._input_7606i_1:focus {
  border-color: var(--accent);
}

._label_7606i_23 {
  color: var(--darkPrimary);
}

._error_7606i_27 {
  margin-top: 3px;
  font-size: .9rem;
  color: var(--error);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

._button_16dxc_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--darkPrimary);
  border-radius: 6px;
  cursor: pointer;
  min-height: 32px;
  min-width: 170px;
}

._button_16dxc_2:hover {
  background-color: var(--primary);
}

._large_16dxc_17 {
  min-height: 50px;
}

._label_16dxc_21 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text);
  cursor: pointer;
}

._baseButton_1y29r_2 {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-appearance: none;
}

._matchParent_1y29r_11 {
  width: 100%;
}

._authPage_1lwuy_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

._authContainer_1lwuy_7 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--secondaryBg);
}

@media screen and (min-width: 480px) {
  ._authPage_1lwuy_2 {
    background-image: url("bg.61b41f41.jpg");
    background-size: cover;
  }

  ._authContainer_1lwuy_7 {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 480px;
    background-color: var(--secondaryBg);
  }
}

._title_1lwuy_31 {
  width: 100%;
  color: var(--darkPrimary);
  font-size: 3rem;
}

._baseline_1lwuy_37 {
  width: 100%;
  color: var(--darkPrimary);
  font-size: 1.5rem;

  margin-bottom: 80px;
}

._inAppNotif_13lqg_1 {
  position: fixed;
  width: 400px;
  top: 40px;
  color: var(--text);
  padding: 15px 20px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 2px;
  cursor: pointer;
}

._error_13lqg_14 {
  background-color: var(--error);
}
._ghostButton_ftljo_1 {
  padding: 8px 25px;
  border: 1px solid var(--darkPrimary);
  border-radius: 3px;
  background: transparent;
  text-align: center;
  cursor: pointer;
}

._ghostButton_ftljo_1:hover {
  background-color: var(--lightPrimary);
}

._label_ftljo_14 {
  color: var(--darkPrimary);
  font-size: 0.9rem;
}

._signupForm_1kdy0_2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._action_1kdy0_8 {
  padding-top: 20px;
}

._formError_1kdy0_12 {
  height: 20px;
  margin-top: 10px;
  font-size: .9rem;
  color: var(--error);
}

._fileSystemContainer_cossy_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

._mainContainer_cossy_7 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

._filesContainer_cossy_11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

._content_cossy_16 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px
}

._directories_cossy_21 {
  border-top: 1px solid #EEE;
}

._appBar_1x5w2_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: var(--secondaryBg);
  padding-left: 65px;
  border-bottom: 1px solid var(--divider);
}

._actions_1x5w2_13 {
  margin-right: 10px;
}
._iconButton_11ev9_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  background: transparent;
  cursor: not-allowed;
}

._iconButtonHover_11ev9_10 {
  cursor: pointer;
}

._iconButtonHover_11ev9_10:hover {
  opacity: 0.7;
}

._dropdown_ht2j2_2 {
  position: relative;
}

._items_ht2j2_6 {
  position: absolute;
  top: 0;
  margin: 0;
  border-radius: 6px;
  background-color: var(--secondaryBg);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
  z-index: 10;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

._itemsRight_ht2j2_17 {
  right: 0;
}

._itemsLeft_ht2j2_21 {
  left: 0;
}

._item_ht2j2_6 {
  width: 100%;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 10px;
  border-bottom: 1px solid var(--divider);
}

._item_ht2j2_6:hover {
  background-color: var(--lightPrimary);
}

._label_ht2j2_39 {
  font-size: 0.8rem;
  color: var(--primaryText);
  margin-left: 10px;
  white-space: nowrap;
  text-decoration: none;
}
._searchBar_19hdb_1 {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--divider);
  border-radius: 6px;
  padding: 14px 24px;
}

._input_19hdb_11 {
  width: 100%;
  margin-left: 24px;
  min-width: 500px;
  border: none;
  font-size: 1rem;
  color: var(--primaryText);
  padding: 6px 0;
}
._breadcrumb_mhh28_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px;
}

._breadcrumbItem_mhh28_9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._breadcrumbTitle_mhh28_15 {
  color: var(--secondaryText);
  font-size: 1.3rem;
  padding: 5px;
  max-width: 270px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

._enabled_mhh28_25 {
  cursor: pointer;
}

._enabled_mhh28_25:hover {
  opacity: .7;
}

._active_mhh28_33 {
  color: var(--darkPrimary);
}

._active_mhh28_33:hover {
  opacity: .7;
}

._previewModal_yj0fh_2 {
  background-color: var(--secondaryBg);
}
._modal_19lmq_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.37);
  padding: 20px;
  z-index: 20;
}

._content_19lmq_15 {
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

@media screen and (min-width: 700px) {
  ._content_19lmq_15 {
    max-width: 700px;
  }
}
._modalActions_1be1z_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 15px 30px;
  background-color: var(--secondaryBg);
}

._flatButton_1tvlo_2 {
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 16px;
  min-width: 88px;
  font-size: 0.875rem;
  min-height: 36px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,-webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,-webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,-webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 2px;
  text-transform: uppercase;

  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  outline: none;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  background-color: transparent;
}

._flatButton_1tvlo_2:hover {
  background-color: var(--lightPrimary);
}


._videoPlayer_187ym_2 {
  width: 100%;
  background-color: #000000;
}

._imagePreview_i5oyw_2 {
  width: 100%;
}

._empty_wiaq7_2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

._title_wiaq7_10 {
  font-size: 1.2rem;
  color: var(--primaryText);
}

._loader_hgc33_2 {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._modalHeader_1j8z6_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
  background-color: var(--lightPrimary);
  border-bottom: 1px solid var(--divider);
}

._title_1j8z6_9 {
  font-size: 1rem;
  color: var(--darkPrimary);
}
._modalContent_ngacu_1 {
  background-color: var(--secondaryBg);
  padding: 15px 30px;
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
}

._leftPanel_c23bg_2  {
  width: 240px;
  min-height: 100vh;
  background-color: var(--lightPrimary);

  padding: 24px 40px;
}

._appTitle_c23bg_10 {
  color: var(--darkPrimary);
  font-size: 1.5rem;
}

._menu_c23bg_15 {
  margin-top: 55px;
}

._menuitem_c23bg_19 {
  padding: 14px 0;
  cursor: pointer;
}

._link_c23bg_24 {
  font-size: .8rem;
  color: var(--secondaryText);
  text-decoration: none;
}

._link_c23bg_24:hover {
  color: var(--darkPrimary);
  opacity: .7;
}

._active_c23bg_35 {
  color: var(--darkPrimary);
}
._rightPanel_4umiv_1 {
  width: 300px;
  background-color: var(--secondaryBg);
}

._actions_4umiv_6 {
  padding: 24px;
}

._action_4umiv_6 {
  margin-bottom: 15px;
}
._newFolderFrom_19mix_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._filesToUploadList_9mnjl_1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid var(--divider);
  border-left: 1px solid var(--divider);
  border-right: 1px solid var(--divider);
}

._actions_9mnjl_10 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._rightActions_9mnjl_16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
._uploader_i4w6p_1 {
  position: relative;
  padding: 8px 25px;
  border: 1px solid var(--darkPrimary);
  border-radius: 3px;
  background: transparent;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._input_i4w6p_12 {
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

._label_i4w6p_23 {
  color: var(--darkPrimary);
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}
._uploadFile_1ojnl_1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 20px;
  background-color: var(--secondaryBg);
  border-bottom: 1px solid var(--divider);
}

._infos_1ojnl_10 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._info_1ojnl_10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

._error_1ojnl_24 {
  color: var(--error);
  font-size: .7rem;
}

._name_1ojnl_29 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: var(--primaryText);
  font-size: .9rem;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

._parametres_1ojnl_38 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

._size_1ojnl_44 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  margin-right: 10px;
  margin-left: 15px;
  color: var(--primaryText);
  font-size: .8rem;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

._parametre_1ojnl_38 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}
._progressBar_13rnn_1 {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

._content_13rnn_8 {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

._progress_13rnn_1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #F2FBFA;
  -webkit-transition: width .3s linear;
  -o-transition: width .3s linear;
  transition: width .3s linear;
  z-index: 1;
}

._indeterminate_13rnn_25 {
  background-color: #F2FBFA;
  z-index: 1;
}

._indeterminate_13rnn_25:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: _indeterminate_13rnn_25 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
          animation: _indeterminate_13rnn_25 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  background-color: #F2FBFA;
  z-index: 1;
}

._indeterminate_13rnn_25:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: _indeterminate-short_13rnn_1 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: _indeterminate-short_13rnn_1 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
  background-color: #F2FBFA;
  z-index: 1;
}


@-webkit-keyframes _indeterminate_13rnn_25 {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}


@keyframes _indeterminate_13rnn_25 {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes _indeterminate-short_13rnn_1 {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes _indeterminate-short_13rnn_1 {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
._reducedUploader_ay2vv_1 {
  position: fixed;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondaryBg);
  border-top: 1px solid var(--divider);
}

._reducedUploaderProgress_ay2vv_14 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._container_ay2vv_20 {
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
  background-color: transparent;
}

._counter_ay2vv_29 {
  font-size: .8rem;
  padding: 0 10px;
}

._stats_ay2vv_34 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._actions_ay2vv_42 {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._fsNodeInfo_14r9i_1 {
  width: 300px;
  min-height: 100vh;
  background-color: var(--secondaryBg);
  -webkit-box-shadow: -3px 0 15px 0 rgba(0,0,0,0.07);
          box-shadow: -3px 0 15px 0 rgba(0,0,0,0.07);
}

._header_14r9i_8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
}

._title_14r9i_16 {
  color: var(--secondaryText);
  font-size: 1.5rem;
}

._name_14r9i_21 {
  color: var(--primaryText);
  font-size: 1.5rem;
  margin: 16px 24px 15px 24px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

._infos_14r9i_30 {
  padding: 24px;
}

._info_14r9i_30 {
  margin: 10px 0;
}

._preview_14r9i_38 {
  width: 100%;
}
._fsMetadata_1enf3_1 {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

._label_1enf3_9 {
  font-size: 0.85rem;
  color: var(--secondaryText);
  margin-right: 30px;
  margin-bottom: 4px;
}

._value_1enf3_16 {
  font-size: 0.9rem;
  color: var(--primaryText);
}
._fsNode_3rj6v_1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EEE;
  background-color: var(--secondaryBg);
  border-left: 3px solid transparent;
}

._fsNode_3rj6v_1._selected_3rj6v_10, ._fsNode_3rj6v_1._selected_3rj6v_10:hover {
  border-left-color: var(--accent);
}

._fsNode_3rj6v_1:hover {
  border-left-color: var(--darkPrimary);
}

._icon_3rj6v_18 {
  padding: 18px;
  cursor: pointer;
}

._icon_3rj6v_18:hover {
  background-color: var(--lightPrimary);
}

._actions_3rj6v_27 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

._infos_3rj6v_34 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  min-height: 66px;
  padding: 10px;
  overflow: auto;
  overflow-wrap: break-word;
  cursor: pointer;
}

._fileIcon_8xyfk_2 {
  background-color: #E9F7F6;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #32A8A1;
  border-radius: 2px;
}

._fileIconText_8xyfk_13 {
  color: #32A8A1;
  font-size: 8px;
}
._fsNodeName_1f236_1 {
  width: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: var(--primaryText);
  font-size: 1rem;
  overflow: hidden;
  overflow-wrap: break-word;
}

._rename_1f236_10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._input_1f236_16 {
  color: var(--primaryText);
  font-size: 1rem;
  padding: 3px;
  border: 1px solid var(--divider);
  border-radius: 3px;
}
._targetDirectories_tvpdx_1 {
  border-top: 1px solid var(--divider);
  border-left: 1px solid var(--divider);
  border-right: 1px solid var(--divider);
}

._empty_tvpdx_7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--secondaryText);
}
._targetDirectory_1k94k_1 {
  padding: 12px 20px;
  background-color: var(--lightPrimary);
  border-bottom: 1px solid var(--divider);
  cursor: pointer;
}

._targetDirectory_1k94k_1:hover {
  opacity: 0.7;
}

._label_1k94k_12 {
  font-size: 0.9rem;
  color: var(--primaryText);
}
