.breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 9px 0;
}

.breadcrumbPathItemRoot {
  margin-left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumbPath {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumbPathItem {
  color: var(--darkPrimary);
  padding: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.breadcrumbPathItem:hover {
  border: 1px solid #eee;
  border-radius: 2px;
}
