
.breadcrumb {
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #EEE;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumb-path-item {
  padding: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.breadcrumb-path-item-root {
  padding: 5px;
}

.breadcrumb-path-item:hover {
  border: 1px solid #eee;
  border-radius: 2px;
}

.breadcrumb-path {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumb-path-arrow {
  margin-left: 2px;
  margin-right: 2px;
}
