.fsDirectory {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #EEE;
  background-color: var(--secondaryBg);
  border-left: 3px solid transparent;
}

.fsDirectory:hover {
  border-left-color: var(--darkPrimary);
}

.icon {
  padding: 18px;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--lightPrimary);
}

.fsDirectoryInfos {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  overflow-wrap: break-word;
}

.title {
  color: var(--primaryText);
  font-size: 0.9rem;
}

.actions {
  padding-right: 10px;
}
