
.fsDirectory {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #EEE;
  background-color: var(--secondaryBg);
}

.fsDirectoryInfos {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  overflow-wrap: break-word;
}

.title {
  color: var(--primaryText);
}

.actions {
  padding-right: 10px;
}
