
.fsFile {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #EEE;
  background-color: var(--secondaryBg);
}

.actions {
  padding-right: 10px;
}

.fsFileInfos {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.name {
  color: var(--primaryText);
  text-decoration: none;
}
