.modalHeader {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--lightPrimary);
  border-bottom: 1px solid var(--divider);
}

.title {
  font-size: 1rem;
  color: var(--darkPrimary);
}
