<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cumulus Redex</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Cumulus Redux</h1>
        Login : <input id="login" type="text" value="vuzi" >
        Password : <input id="password" type="password" value="vuzivuzi" >
        <br/>
        <input id="submit" type="button" value="Connect" >
        <p id="error" ></p>
    </body>

    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
    <script>
        $(document).ready(() => {
            $('#submit').click(() => {
                const login = $('#login').val()
                const password = $('#password').val()

                fetch('/users/login', {
                    method: 'POST',
                    credentials: "same-origin",
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "login" : login,
                        "password" : password
                    })
                }).then((response) => {
                    if(response.status === 200) {
                        console.log("hey")
                        window.location = "/test"
                    } else {
                        $('#error').text("Error during connection")
                    }
                }).catch((err) => {
	                console.log(err)
                })
            })
        })
    </script>
</html>
