.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  min-width: 400px;
  border: none;
  font-size: 1.1rem;
  color: var(--primaryText);
  padding: 6px 2px 2px 2px;
  border-bottom: 1px solid var(--text);
}
