
.fileIcon {
  background-color: #E9F7F6;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #32A8A1;
  border-radius: 2px;
}

.fileIconText {
  color: #32A8A1;
  font-size: 8px;
}
