.reducedUploader {
  position: fixed;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondaryBg);
  border-top: 1px solid var(--divider);
}

.reducedUploaderProgress {
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
  height: 40px;
  flex: 1;
  display: flex;
  flex-direction: row;
  z-index: 2;
  background-color: transparent;
}

.counter {
  font-size: .8rem;
  padding: 0 10px;
}

.stats {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.actions {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
